## Exploratory Data Analysis(Zillow Dataframe)
### Corey Solitaire
#### 10.13. 2020

In [1]:
import acquire
import prepare
import wrangle_zillow
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from math import sqrt
from scipy import stats
from sklearn.preprocessing import StandardScaler, QuantileTransformer, PowerTransformer, RobustScaler, MinMaxScaler
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from statsmodels.formula.api import ols
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from sklearn.feature_selection import f_regression, SelectKBest, RFE 
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

In [2]:
df, X_train_explore, X_train_scaled, X_validate_scaled, X_test_scaled = wrangle_zillow.wrangle_zillow(acquire.get_zillow_data(cached=False))

In [3]:
df.shape, X_train_scaled.shape, X_test_scaled.shape

((43778, 34), (24515, 34), (8756, 34))

In [4]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

In [5]:
def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    # outlier_cols = {col + '_outliers': get_upper_outliers(df[col], k)
    #                 for col in df.select_dtypes('number')}
    # return df.assign(**outlier_cols)
    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)
    return df

In [6]:
add_upper_outlier_columns(X_train_explore, k=1.5)

,parcelid,propertylandusetypeid,heatingorsystemtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,...,taxvaluedollarcnt_outliers,assessmentyear_outliers,landtaxvaluedollarcnt_outliers,taxamount_outliers,censustractandblock_outliers,id_outliers,logerror_outliers,tdate_outliers,heatingorsystemdesc_outliers,propertylandusedesc_outliers
73915,10768234,261.0,2.0,2.0,3.0,6.0,2.0,1313.0,1313.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
48981,12071067,266.0,2.0,2.0,2.0,8.0,2.0,1046.0,1046.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
29282,11905813,261.0,7.0,1.0,2.0,4.0,1.0,1166.0,1166.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
51818,12226280,261.0,7.0,2.0,3.0,4.0,2.0,735.0,735.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
19625,12626656,261.0,2.0,2.0,5.0,6.0,2.0,1948.0,1948.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73581,12904203,261.0,7.0,1.0,3.0,4.0,1.0,1220.0,1220.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
19092,12758672,261.0,7.0,1.0,3.0,4.0,1.0,1145.0,1145.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
8915,11475333,266.0,2.0,2.0,2.0,8.0,2.0,1252.0,1252.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
34132,10965278,266.0,2.0,3.0,3.0,8.0,3.0,1429.0,1429.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0
75649,10832235,266.0,2.0,2.0,2.0,6.0,2.0,854.0,854.0,0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0,0,0

In [7]:
'''
This text prints information regrding the outlier columns created
'''
add_upper_outlier_columns(df, k=1.5)    
outlier_cols = [col for col in df if col.endswith('_outliers')]
for col in outlier_cols:
    print('~~~\n' + col)
    data = df[col][df[col] > 0]
    print(data.describe())

~~~
parcelid_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: parcelid_outliers, dtype: float64
~~~
propertylandusetypeid_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: propertylandusetypeid_outliers, dtype: float64
~~~
heatingorsystemtypeid_outliers
count    39.0
mean      5.5
std       0.0
min       5.5
25%       5.5
50%       5.5
75%       5.5
max       5.5
Name: heatingorsystemtypeid_outliers, dtype: float64
~~~
bathroomcnt_outliers
count    1058.000000
mean        0.982042
std         0.848037
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         6.500000
Name: bathroomcnt_outliers, dtype: float64
~~~
bedroomcnt_outliers
count    25.000000
mean      1.440000
std       0.768115
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       4.000000
Name: bedroomcnt_outliers, dtype: float64
~~~
buildingqualitytypeid_outliers
count    101.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: buildingqualitytypeid_outliers, dtype: float64
~~~
calculatedbathnbr_outliers
count    1058.000000
mean        0.982042
std         0.848037
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         6.500000
Name: calculatedbathnbr_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers
count    2434.000000
mean      986.695563
std      1169.555185
min         1.000000
25%       239.000000
50%       611.500000
75%      1278.750000
max      9426.000000
Name: calculatedfinishedsquarefeet_outliers, dtype: float64
~~~
finishedsquarefeet12_outliers
count    2434.000000
mean      986.695563
std      1169.555185
min         1.000000
25%       239.000000
50%       611.500000
75%      1278.750000
max      9426.000000
Name: finishedsquarefeet12_outliers, dtype: float64
~~~
fips_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: fips_outliers, dtype: float64
~~~
fullbathcnt_outliers
count    1058.000000
mean        0.982042
std         0.848037
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         6.500000
Name: fullbathcnt_outliers, dtype: float64
~~~
latitude_outliers
count      3335.000000
mean      87959.259858
std       54267.953814
min          19.375000
25%       30370.875000
50%      101247.375000
75%      135949.375000
max      270576.375000
Name: latitude_outliers, dtype: float64
~~~
longitude_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: longitude_outliers, dtype: float64
~~~
lotsizesquarefeet_outliers
count    7.351000e+03
mean     1.515560e+05
std      2.472963e+05
min      2.912500e+01
25%      2.236612e+04
50%      6.958912e+04
75%      1.832881e+05
max      3.555588e+06
Name: lotsizesquarefeet_outliers, dtype: float64
~~~
propertycountylandusecode_outliers
count    184.000000
mean       2.081522
std        0.293622
min        1.000000
25%        2.000000
50%        2.000000
75%        2.000000
max        3.000000
Name: propertycountylandusecode_outliers, dtype: float64
~~~
propertyzoningdesc_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: propertyzoningdesc_outliers, dtype: float64
~~~
rawcensustractandblock_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: rawcensustractandblock_outliers, dtype: float64
~~~
regionidcity_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: regionidcity_outliers, dtype: float64
~~~
regionidcounty_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: regionidcounty_outliers, dtype: float64
~~~
regionidzip_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: regionidzip_outliers, dtype: float64
~~~
roomcnt_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: roomcnt_outliers, dtype: float64
~~~
unitcnt_outliers
count    16.000000
mean      1.375000
std       1.087811
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       5.000000
Name: unitcnt_outliers, dtype: float64
~~~
yearbuilt_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: yearbuilt_outliers, dtype: float64
~~~
structuretaxvaluedollarcnt_outliers
count    3.125000e+03
mean     3.020449e+05
std      4.497404e+05
min      1.865000e+02
25%      5.784950e+04
50%      1.546635e+05
75%      3.649435e+05
max      7.509754e+06
Name: structuretaxvaluedollarcnt_outliers, dtype: float64
~~~
taxvaluedollarcnt_outliers
count    3.183000e+03
mean     8.824830e+05
std      1.389307e+06
min      5.962500e+01
25%      1.719151e+05
50%      4.654226e+05
75%      1.038239e+06
max      2.282554e+07
Name: taxvaluedollarcnt_outliers, dtype: float64
~~~
assessmentyear_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: assessmentyear_outliers, dtype: float64
~~~
landtaxvaluedollarcnt_outliers
count    2.828000e+03
mean     6.566122e+05
std      1.097293e+06
min      6.950000e+01
25%      1.276665e+05
50%      3.333005e+05
75%      7.463015e+05
max      1.752686e+07
Name: landtaxvaluedollarcnt_outliers, dtype: float64
~~~
taxamount_outliers
count      3213.000000
mean      10328.374457
std       16256.487480
min           0.883750
25%        2054.943750
50%        5349.183750
75%       12051.303750
max      264367.593750
Name: taxamount_outliers, dtype: float64
~~~
censustractandblock_outliers
count    3.000000e+00
mean     1.410622e+14
std      2.438610e+14
min      2.689755e+11
25%      2.689755e+11
50%      2.689755e+11
75%      2.114588e+14
max      4.226486e+14
Name: censustractandblock_outliers, dtype: float64
~~~
id_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: id_outliers, dtype: float64
~~~
logerror_outliers
count    2954.000000
mean        0.202397
std         0.338160
min         0.000037
25%         0.036798
50%         0.095309
75%         0.231075
max         5.122235
Name: logerror_outliers, dtype: float64
~~~
tdate_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: tdate_outliers, dtype: float64
~~~
heatingorsystemdesc_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: heatingorsystemdesc_outliers, dtype: float64
~~~
propertylandusedesc_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: propertylandusedesc_outliers, dtype: float64

In [8]:
'''
This code restors your dataframe
'''       
X_train_explore.drop([x for x in df if x.endswith('_outliers')], 1, inplace = True)

In [9]:
X_train_explore.shape

(24515, 34)