## Clustering Lesson - Data Wrangling - Mall Dataset
### Corey Solitaire
#### 10/12/2020

In [1]:
import wrangle_mall
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Acquire data from mall_customers.customers in mysql database.

In [2]:
df = wrangle_mall.get_mall_data(cached=True)

In [3]:
df.head()

   customer_id  gender  age  annual_income  spending_score
0            1    Male   19             15              39
1            2    Male   21             15              81
2            3  Female   20             16               6
3            4  Female   23             16              77
4            5  Female   31             17              40

## 2. Summarize data (include distributions and descriptive statistics).

In [4]:
wrangle_mall.df_summary(df)

The shape of the df:
(200, 5)


Columns, Non-Null Count, Data Type:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     200 non-null    int64
 1   gender          200 non-null    object
 2   age             200 non-null    int64
 3   annual_income   200 non-null    int64
 4   spending_score  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None


Summary statistics for the df:
       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000


Number of NaN values per column:
customer_id       0
gender            0
age               0
annual_income     0
spending_score    0
dtype: int64


Number of NaN values per row:
0      0
1      0
2      0
3      0
4      0
      ..
195    0
196    0
197    0
198    0
199    0
Length: 200, dtype: int64


Count and percent missing per row
                num_rows_missing  pct_rows_missing
customer_id                    0               0.0
gender                         0               0.0
age                            0               0.0
annual_income                  0               0.0
spending_score                 0               0.0


Count and percent missing per column
                num_cols_missing  pct_cols_missing  num_rows
age                            0               0.0         0
annual_income                  0               0.0         0
customer_id                    0               0.0         0
gender                         0               0.0         0
spending_score                 0               0.0         0


Value Counts per Column:
----------------------------------------customer_id---------------------------------------- -

200    1
63     1
73     1
72     1
71     1
70     1
69     1
68     1
67     1
66     1
Name: customer_id, dtype: int64

----------------------------------------gender---------------------------------------- -

Female    112
Male       88
Name: gender, dtype: int64

----------------------------------------age---------------------------------------- -

32    11
35     9
19     8
31     8
30     7
49     7
27     6
47     6
40     6
23     6
Name: age, dtype: int64

----------------------------------------annual_income---------------------------------------- -

54    12
78    12
60     6
87     6
62     6
63     6
71     6
48     6
33     4
19     4
Name: annual_income, dtype: int64

----------------------------------------spending_score---------------------------------------- -

42    8
55    7
46    6
73    6
35    5
52    5
59    5
48    5
75    5
50    5
Name: spending_score, dtype: int64

## 3. Detect outliers using IQR.

In [5]:
wrangle_mall.quartiles_and_outliers(df)

~~~
customer_id_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: customer_id_outliers, dtype: float64
~~~
age_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: age_outliers, dtype: float64
~~~
annual_income_outliers
count    2.00
mean     4.25
std      0.00
min      4.25
25%      4.25
50%      4.25
75%      4.25
max      4.25
Name: annual_income_outliers, dtype: float64
~~~
spending_score_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: spending_score_outliers, dtype: float64

## 4. Split data (train, validate, and test split).

In [6]:
df, X_train_explore, X_train_scaled, X_validate_scaled, X_test_scaled = wrangle_mall.wrangle_mall(get_mall_data(cached=True))

AttributeError: module 'wrangle_mall' has no attribute 'wrangle_mall'